node_modules
dist
.git
loop.md

yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


*.local
loop.md
*.txt
*.md
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.log